@import "../../../styles/index.module.scss";

.Post {
  display: grid;
  width: min(90%, 1250px);
  margin-inline: auto;
  grid-template-rows: 100px 200px 650px auto;
  grid-template-areas:
    " . "
    " info "
    " image "
    " content ";
  @media (max-width: 800px) {
    display: grid;
    grid-template-rows: 50px 300px 400px 1fr;
  }
  &__info {
    grid-area: info;
    text-align: center;
    h3 {
      font-size: $fs-XXL;
      color: var(--primary-text-color);
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border-radius: 10px;
      }
      p {
        font-size: $fs-medium;
        color: var(--tertiary-text-color);
        font-weight: 500;
      }
      span {
        font-size: $fs-small;
        color: var(--secondary-text-color);
      }
    }
  }
  &__image {
    padding-top: 7rem;
    width: 90%;
    @media (max-width: 400px) {
      width: 100%;
    }
    height: 100%;
    margin-inline: auto;
    grid-area: image;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    grid-area: content;
    margin-inline: auto;
    width: min(95%, 1100px);
    p {
      padding-top: 2rem;
      font-size: $fs-large;
      @media (max-width: 400px) {
        font-size: $fs-medium;
      }
      word-spacing: 4px;
      font-weight: 300;
      color: var(--primary-text-color);
      a {
        font-size: $fs-large;
        color: var(--orange-color);
      }
    }
  }
  &__addFav {
    font-size: 5rem;
    position: absolute;
    top: 43%;
    right: 15%;
    @media (max-width: 600px) {
      top: 10%;
      right: 10%;
    }
    color: var(--orange-color);
    width: 4rem;
    outline: none;
    cursor: pointer;
    figure {
      svg {
        animation: addTofav 1.5s ease-out;
      }
    }
  }
}

@keyframes addTofav {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
