@import "../../styles/index.module.scss";

.Sign {
  display: flex;
  flex-direction: column;
  background: #f6f5f7;
  justify-content: center;
  align-items: center;
  &__content {
    margin-top: 7rem;
    margin-bottom: 5rem;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    padding: 2rem;
    display: flex;
    position: relative;
    flex-direction: row;
    @media (max-width: 1000px) {
      width: 90%;
      margin-inline: auto;
      min-height: 75vh;
    }
    &::after {
      content: "";
      font-size: 3rem;
      position: absolute;
      width: 80%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: -30%;
      transition: all 1s ease-out;
      background-color: #ff416c;
      @media (max-width: 1000px) {
        display: none;
      }
    }
    &_up {
      &::after {
        content: "";
        transition: all 1s;
        transform: translateX(100%);
      }
    }
    button {
      width: 50%;
      margin-inline: auto;
      padding: 1.2rem 2rem;
      border-radius: 30px;
      border: none;
      background-color: var(--orange-color);
      color: white;
      font-size: $fs-small;
      transition: all 0.7s;
      cursor: pointer;
      &:hover {
        filter: brightness(90%);
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 10px 20px rgba(black, 0.2);
      }
    }
    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      animation: formAnimation 1.5s ease-out;
      @media (max-width: 700px) {
        width: 100%;
      }
      h2 {
        font-size: $fs-XL;
        text-align: center;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        &:first-child {
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
        div {
          width: 90%;
          margin-inline: auto;
          label {
            display: block;
            font-size: 2rem;
          }
          input {
            font-size: $fs-medium;
            background-color: #eee;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
          }
        }
      }
    }
  }
  &__confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      font-size: $fs-medium;
      text-align: center;
      color: var(--primary-text-color);
      span {
        color: var(--orange-color);
        cursor: pointer;
      }
    }
  }
  &__error {
    font-size: $fs-small;
    text-align: center;
    height: 9vh;
    color: red;
  }
}
.error {
  border: 1px solid red !important;
}
@keyframes formAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
