@import "../../styles/index.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min(100%, 1200px);
  margin-inline: auto;
  justify-content: space-between;
  ul {
    font-size: $fs-large;
    @media (max-width: 1200px) {
      font-size: $fs-medium;
    }
    @media (max-width: 1000px) {
      font-size: $fs-large;
    }
  }
  @media (max-width: 1000px) {
    padding: 2rem 2rem;
    position: relative;
  }
  @media (max-width: 400px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
  }
  &__logo {
    font-family: "Satisfy", cursive;
    font-size: $fs-XL;
    @media (max-width: 400px) {
      font-size: $fs-extra;
    }
  }
  &__headers {
    font-size: $fs-large;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1000px) {
      position: absolute;
      margin-inline: auto;
      left: 0;
      top: 120%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 1;
      animation: headerAnimation 1.5s ease-out backwards;
      ul {
        li {
          &:first-child {
            font-size: $fs-extra;
            color: var(--primary-text-color);
          }
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: var(--secondary-text-color);
      gap: 3rem;
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        width: 70%;
        box-shadow: 0 20px 30px rgba(black, 0.2);
        padding: 4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-color: white;
        border-radius: 20px;
      }
      @media (max-width: 600px) {
        width: 90%;
      }
      li {
        transition: all 0.7s;
        &:hover {
          transform: scale(1.05);
          color: var(--orange-color);
        }
      }
    }
  }
  &__searchInput {
    position: relative;
  }
  &__search {
    font-size: 5rem;
    position: absolute;
    left: 0%;
    top: -15%;
    transform: translateX(200%);
    transition: all 1s;
    z-index: 2;
    @media (max-width: 1100px) {
      font-size: 4rem;
    }
    @media (max-width: 1000px) {
      font-size: 4rem;
      position: static;
      top: 0;
      transform: translateX(0);
    }
    cursor: pointer;
    &__active {
      transition: all 1.5s;
      transform: translateX(-100%);
      @media (max-width: 1000px) {
        transform: translateY(21vh) translateX(-50vw);
      }
      @media (max-width: 400px) {
        transform: translateY(21vh) translateX(-45vw);
      }
    }
  }
  &__input {
    opacity: 0;
    font-size: $fs-medium;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    padding: 0.3rem 1rem;
    border-radius: 4px;
    border: 1px solid blue;
    transition: all 0.7s;
    @media (max-width: 1100px) {
      font-size: $fs-small;
    }
    @media (max-width: 1000px) {
      margin-left: 2.5rem;
    }
    &__active {
      display: block;
      transition: all 2s;
      opacity: 1;
      display: inline;
    }
  }
  &__dropdown {
    position: absolute;
    top: 60%;
    background-color: var(--orange-color);
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-size: $fs-medium;
    list-style: none;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
    @media (max-width: 1000px) {
      top: 140%;
      width: min(90%, 800px);
      animation: phoneDropdown 2s ease-out forwards;
      ul {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }
    }
    li {
      width: 100%;
      color: var(--primary-text-color);
      cursor: pointer;
      transition: all 0.5s;
      list-style: none;
      &:hover {
        color: var(--tertiary-text-color);
        transform: scale(1.1);
      }
    }
  }
  &__bars {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    display: none;
    cursor: pointer;
    transition: all 1.5s;
    @media (max-width: 400px) {
      width: auto;
    }
    &__appear {
      display: block;
    }
    &__active {
      transform: rotate(-140deg);
    }
  }
  &__SignUp {
    ul {
      list-style: none;
      color: var(--secondary-text-color);
      li {
        cursor: pointer;
        transition: all 0.7s;
        &:hover {
          transform: scale(1.05);
          color: var(--orange-color);
        }
      }
    }
  }
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes phoneDropdown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
