@import "../../styles/index.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min(100%, 1200px);
  margin-inline: auto;
  justify-content: space-between;
  &__logo {
    font-family: "Satisfy", cursive;
    font-size: $fs-XL;
  }
  &__headers {
    font-size: $fs-large;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      color: var(--secondary-text-color);
      gap: 3rem;
      li {
        transition: all 0.7s;
        &:hover {
          transform: scale(1.05);
          color: var(--orange-color);
        }
      }
    }
  }
}
