@import "../../styles/index.module.scss";

.Header {
  margin-top: 2rem;
  display: grid;
  grid-area: recentPosts;
  grid-template-columns: 0.9fr 0.4fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    "main second"
    "main third";
  gap: 10px 60px;
  div {
    &:first-child {
      grid-area: main;
    }
  }
  @media (max-width: 900px) {
    width: min(95%, 780px);
    margin-inline: auto;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
      "main main"
      "second third";
    h3 {
      font-size: $fs-medium;
    }
    gap: 10px 20px;
  }
}
