.Category {
  max-width: min(90%, 1100px);
  margin-top: 15rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 6rem;
  min-height: 90vh;
  @media (max-width: 800px) {
    display: grid;
    grid-template-columns: 100%;
    margin-inline: auto;
  }
  div {
    h3 {
      text-align: center;
    }
  }
}
